<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329568/xyz/images/courses/ai_znsovo.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Artificial Intelligence Course</b></h1>
                <p>Learn DS with AvaIntern's Artificial Intelligence Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1>
            <p>
                An AI (Artificial Intelligence) course typically covers a wide range of topics related to the theory,
                algorithms, and applications of artificial intelligence. The content and depth of an AI course can vary
                depending on the level (undergraduate, graduate, or professional) and the institution offering it.
            </p>
            <hr>
            <hr>
            <hr>
            <b>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction of Artificial Intelligence</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>What is Artificial Intelligence?</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Historical Overview of AI</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>AI Applications</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 : Mathematics for AI</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Ethical Considerations in AI</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Linear Algebra</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Probablity and Statistics</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : Machine Learning</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Calculus & Optimization</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Supervised Learning (Regression,Classification)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Unsupervised Learning (Clustering,Dimensionality,Reductino)</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 : Natural Language Processing</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Semi-Supervised Learning</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Reinforcement Learning</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSESSMENT & QUIZ -1</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 : Computer Vision</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Decision Trees,Random Forest</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Gradient Boosting,Neural Networks</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Deep Learning</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Tokenization,Stemming and Lenmatization</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : Robotics</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Sentiment Analysis</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Named Entity Recognition</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Assignment & Quiz-2</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 : AI Ethics and Future Directions</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Machine Translation</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Language Models and Pretrained Models</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Text Classification , Text Geneation</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : Final Project Part-1</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Image Processing & Image Segmentation</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Object Detection</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Convolutional Neural Networks (CNNs)
                            </strong>
                        </div>
                        <div class="collapse-item">
                            <strong> Transfer Learning
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Final Project Part-2</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Project Assignment</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Generative Adversarial Networks (GANs)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Robotic Systems</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : Final Project Part-3</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Robot Localization and Mapping</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Robot Perception</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Path Planning and Navigation</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Week-11 : Final Project Part-4</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Bias and Fairness in AI</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Transparency and Interpretability</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Review</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Week-12 : Final Project Part-5</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Legal and Social implications of AI</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>The future of AI and its impact on Society</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Submission</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>