<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329570/xyz/images/courses/business_aq3q1l.webp"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Business Analytics Course</b></h1>
                <p>Learn Business Analytics with AvaIntern's Business Analytics Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                Business analytics courses focus on the use of data to drive business decisions and strategies. These
                courses provide students with the knowledge and skills necessary to collect, analyze, and interpret data
                to gain insights into business operations and make informed decisions.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>
        <div class="course-overview">

            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction to Business Analytics</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Overview of Business Analytics and its subfields</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Business Analytics applications and examples</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Key skills for a Business Analyst</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 :Data Preparation and Exploration</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Ethical & legal considerations in Business Analytics</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Data collection and acquisition</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Data cleaning , transformation & Data visualization</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : Introduction to
                            Statistical Analysis</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Descriptive statistics</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Statistical inference</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Hypothesis testing</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 :Predictive Modeling with Regression</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Confidence intervals</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Correlation and regression analysis</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to predictive modeling</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 :Data Mining and
                            Machine Learning</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Linear & Multiple regression</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Model evaluation and validation</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Overview of data mining and machine learning</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Classification algorithms</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : Data Visualization and Dashboards</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Clustering algorithms</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Association rule mining</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Decision trees and random forests</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 : Time Series Analysis</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Advanced visualization techniques</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Dashboard design principles</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Best practices for dashboard design & implementation</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : FOptimization and
                            Simulation</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Dashboard case studies</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to time series analysis</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>PROJECT ASSIGNMENT
                            </strong>
                        </div>
                        <div class="collapse-item">
                            <strong> Stationarity and trend analysis
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Big Data Analytics</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Seasonal decomposition & ARIMA models</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Forecasting techniques</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Overview of optimization and simulation</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : Data Governance

                            and Ethics</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Linear & Non-linear programming</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Monte Carlo simulation & Queuing theory</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Big Data Hadoop and MapReduce</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>NoSQL databases & Apache Spark</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Week-11 : Business Analytics Tools and
                            Technologies</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Data governance framework & Data privacy and

                                security</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Ethical considerations in Business Analytics</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Review</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Week-12 : Final Project</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Legal, regulatory issues & Case studies in data

                                ethics</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Tableau and other BI tools</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Submission</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>