<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329570/xyz/images/courses/cad_ta6hwj.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to AutoCAD Course</b></h1>
                <p>Learn AutoCAD with AvaIntern's AutoCAD Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                AutoCAD courses focus on the use of data to drive business decisions and strategies. These
                courses provide students with the knowledge and skills necessary to collect, analyze, and interpret data
                to gain insights into business operations and make informed decisions.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction to AutoCAD</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>AutoCAD is a global application. It is being used globally
                                by product development teams, manufacturing facilities,
                                medical professionals, in educational institutions, by
                                professionals and engineers.</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 : Drawing Basics</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>The tutorial will help the users to get a basic
                                understanding of the program and its practicality. The tutorial will allow
                                the learners to know the program and apprehend the basic concepts
                                required to create 2D and 3D designs on the program.</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : Drawing Aid</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>The drawing aids in AutoCAD are like the triangles, compasses,
                                and engineering scales of traditional drafting. Drawing aids are
                                essential modes and methods of entering data that, once
                                mastered, allow you to create measured drawings with ease.</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 : Multi-view Drawing</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Multi-view blocks typically represent 3D architectural objects.
                                For example, you can create customized cabinetry by drawing
                                plan, elevation, and model views, and saving each view as an
                                individual AutoCAD block. You assign each block to a view when you create the multi-view
                                block definition.</strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 :Dimension and Annotations</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Annotation objects provide information about a feature,
                                such as the length of a wall, the diameter of a fastener, or a
                                detail callout. Typically, annotation objects are scaled
                                differently than the views of the drawing, and depend on
                                the scale of how they should appear when plotted.</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSIGNMENT & QUIZ</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : Parametric tools</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Parametric drawing tools that you can use to create
                                dynamic relationships and constraints between objects in
                                AutoCAD software. The parametric drawing tools will
                                revolutionize the way that you draw and edit objects in
                                AutoCAD software.</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 : Section Views</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>A sectional view represents the part of an object remaining
                                after a portion is assumed to have been cut and remove the exposed cut surface in then
                                indicated by section lines.</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : Block & Attribute</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Image Processing & Image Segmentation</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>An Attribute is an intelligent text attached to a block. It
                                can be any information related to the block such as
                                description, part name, and value and so on. The third part
                                of the chapter deals with the Xrefs (external references).</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Assignment
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Layout & Annotative Objects</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Annotative objects and styles are used to control the size and
                                scale at which annotation objects are displayed in model space
                                or a layout. When using annotative objects, the process of
                                scaling annotation objects is automated for you.</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : Template & Plotting</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>When AutoCAD starts, the Start tab is displayed by default.
                                Here, you can quickly start a new drawing file based on the
                                current drawing template file, or you can specify a different template file from the
                                Templates list to start a new drawing.</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Week-11 : 3D Basics Drawing</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>A 3D model can include combinations of these technologies, and
                                you can convert between them. For example, you can convert a
                                primitive 3D solid pyramid to a 3D mesh to perform mesh
                                smoothing. You can then convert the mesh to a 3D surface or back
                                to a 3D solid to take advantage of their respective modeling
                                features.</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>PROJECT REVIEW</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Week-12 : Solid Editing & Generating 2D view</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>A 2D drawing view consists of two-dimensional elements. It is not
                                associative to a 3D model. A 2D drawing view allows you to quickly
                                create or modify a drawing view without making changes to a part or assembly
                                document.</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>PROJECT SUBMISSION</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>