<!DOCTYPE html>
<html lang="en">
{{>coursehead}}

<body>

    {{>header}}
    <main>
        <div class="container">
            <div class="top">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329563/xyz/images/banner-3_sgegj1.jpg"
                    alt="Loading...">
                <h1 style="text-align: center;margin: 20px 0px;font-weight: bolder;"><b> Career Opportunities</b></h1>
            </div>
        </div>
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>