<!DOCTYPE html>
<html lang="en">
{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <img class="images"
                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329578/xyz/images/e_learning_course_ugj5yo.jpg"
                style=alt="Loading...">
        </div>
        <marquee behavior="scroll" direction="left">
            <p class="para">Become Industry Ready,Enroll for Internship Program</p>
        </marquee>


        <div class="traineeship">
            <h1 style="text-align:center;margin:4%;"><b>Traineeship Program</b></h1>
            <div class="cards-level">
                <div class="cards">
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329571/xyz/images/courses/data-science_sgkq8d.png"
                            class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Data Science Online Internship Program </b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/ds" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329572/xyz/images/courses/dsa-1_v718r9.png"
                            class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Data Structure and Algorithms Online Internship
                                    Program.</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/dsa" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329573/xyz/images/courses/full-stack_fm5quj.png"
                            class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Full Stack Web Development Online Internship
                                    Program.</b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/web" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329570/xyz/images/courses/business_aq3q1l.webp"
                            class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text text-body"><b> Business Analytics Online Internship Program </b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/business" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329576/xyz/images/courses/UI-UX_et0z7g.png"
                            class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body "><b>UI/UX Design Online Internship Program.</b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/ui-ux" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329573/xyz/images/courses/human_dibfdh.webp"
                            class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Human Resources Online Internship
                                    Program</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/human" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="cards-level">
                <div class="cards">
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329571/xyz/images/courses/digital_yturcc.png"
                            class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Digital Marketing and Marketing Online
                                    Internship
                                    Program.</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/marketing" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329573/xyz/images/courses/finance_oyggp7.webp"
                            class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Finance Online Internship Program.</b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/finance" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-level">
                <div class="cards">
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329569/xyz/images/courses/bn_jae_nw6fcn.png"
                            class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Complete AutoCAD Online
                                    Internship
                                    Program.</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/cad" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329563/xyz/images/bda_sirspm.jpg"
                            class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Complete Business Development Associate (BDA) Online
                                    Internship
                                    Program.</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/bda" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329574/xyz/images/courses/java_cvvtop.jpg"
                            class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Java Online Internship Program.</b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/java" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    {{>footer}}
</body>

</html>