<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329571/xyz/images/courses/data-science_sgkq8d.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Data Science Course</b></h1>
                <p>Learn DS with AvaIntern's Data Science Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>Data is one of the most important commodities in today’s world. With billions of bytes of data available
                every second, the ability to gain useful insights from data for various decisions is an important factor
                in harnessing the potential of data. AvaIntern’s Data Science Course will introduce you to concepts
                like Python programming for Data Science, Data retrieval, manipulation, and storage to help you stay
                ahead of the data curve and uncertainty.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>

        <div class="course-overview">

            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction Python </strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to Python</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Installing Python and Setting Up the Environment</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Basic Syntax and Data Types</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 : Intermediate
                            Python</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Operators and Expressions</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Conditional Statements in Python</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Loops Functions Python</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : Introduction to
                            NumPy</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Python Modules</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to NumPy</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Array Creation</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 : Introduction Opencv
                            and Matplotlib</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Array ManipulatioN</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Indexing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSESSMENT & QUIZ -1</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 : Introduction to
                            Machine Learning</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Slicing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to Pandas</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSESSMENT & QUIZ - 2</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Series and DataFrame Objects</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : Machine Learning
                            Algorithms</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Data Indexing and Selection</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to Data Visualization</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSESSMENT & QUIZ - 3</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 : Final Project</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Basic Plotting with Matplotlib</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Line Plots, Scatter Plots, and Bar Plots</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Histograms and Box Plots</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : Final Project Part-1</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Advanced Plotting Techniques</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Data Analysis with Pandas</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Data Cleaning and Preprocessing
                            </strong>
                        </div>
                        <div class="collapse-item">
                            <strong> Merging, Joining, and Concatenating
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Final Project Part-2</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Project Assignment</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>DataFrames Grouping and Aggregating</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Data Time Series Analysis with Pandas</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : Final Project Part-3</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Working with External Data Sources</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Machine Learning with Scikit-Learn</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to Machine Learning</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Data Preprocessing</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Week-11 : Final Project Part-4</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Feature Engineering</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Supervised Learning Algorithms (Linear Regression,
                                Logistic Regression, Decision Trees, Random
                                Forests)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Review</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Week-12 : Final Project Part-5</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Unsupervised Learning Algorithms (K-Means
                                Clustering, Principal Component Analysis)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Model Evaluation and Hyperparameter Tuning</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Submission</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        {{!-- </div> --}}
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>