<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329572/xyz/images/courses/dsa-1_v718r9.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Data Structure & Algorithms Course</b></h1>
                <p>Learn Data Structure & Algorithms with AvaIntern's Data Structure & Algorithms Online Internship
                    Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>A Data Structures and Algorithms (DSA) course typically focuses on the fundamental concepts and
                techniques used in computer programming for designing efficient algorithms and data structures. The
                course aims to provide students with a thorough understanding of the principles and practices involved
                in solving complex computational problems.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
        </div>
        <br><br>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction to
                            DSA</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to Algorithms and Data Structures</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Importance of DSA in Problem Solving</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Time and Space Complexity Analysis</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 : Arrays and Strings</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Big O Notation and Asymptotic Analysis</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Overview of Common Data Structures and Algorithms</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to Arrays and Array Operations</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : Linked Lists</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Searching Algorithms (Linear Search, Binary Search)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Sorting Algorithms (Bubble Sort, Insertion Sort, Selection
                                Sort)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Multidimensional Arrays</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 : Stacks and Queues</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>String Manipulation and String Algorithms</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Singly Linked Lists: Introduction and Operations</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Doubly Linked Lists: Introduction and Operations</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 : Trees and Binary
                            Trees</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Circular Linked Lists: Introduction and Applications</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Linked List Variations (Skip Lists, Unrolled Linked Lists)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSIGNMENT & QUIZ</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Linked List Problems and Practice</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : Graphs</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to Stacks and Stack Operations</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Implementing Stacks using Arrays and Linked Lists</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Applications of Stacks (Expression Evaluation, Parentheses

                                Matching)</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 : Sorting and
                            Searching
                            Algorithms</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to Queues and Queue Operations</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Implementing Queues using Arrays and Linked Lists</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to Trees: Types and Terminology</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : Final Project Part-1</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Binary Trees: Introduction, Properties, and Operations</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Binary Tree Traversals (Inorder, Preorder, Postorder)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Binary Search Trees: Properties and Operations
                            </strong>
                        </div>
                        <div class="collapse-item">
                            <strong> AVL Trees and Balancing Concepts
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Final Project Part-2</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Project Assignment</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to Graphs: Types and Representations</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Graph Traversal Algorithms (DFS, BFS)</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : Final Project Part-3</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Shortest Path Algorithms (Dijkstra's, Bellman-Ford)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Minimum Spanning Tree Algorithms (Prim's, Kruskal's)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Graph Algorithms (Topological Sort, Detecting Cycles)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Bubble Sort and Optimized Variants</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Week-11 : Final Project Part-4</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Insertion Sort and Variants (Binary Insertion Sort)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Merge Sort and Divide-and-Conquer Paradigm</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Review</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Week-12 : Final Project Part-5</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Quick Sort and its Variants</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Linear Search, Binary Search, and Interpolation Search</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Submission</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>