<!DOCTYPE html>
<html lang="en">
{{>coursehead}}

<body>
        {{>header}}
        <main>
                <div class="faq">
                        <h1>FAQ's</h1>
                        <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#collapseOne" aria-expanded="false"
                                                        aria-controls="collapseOne">
                                                        <strong>1.What are the software requirements and how to get
                                                                those
                                                                software's?</strong>
                                                </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                        All the required software's will be provided from Pregrag and
                                                        students need worry to buy or lease the expensive software's.
                                                </div>
                                        </div>
                                </div>
                                <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        <strong> 2. What will be the training/internship
                                                                timings?</strong>
                                                </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                                aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                        The training timings will be scheduled in the evening between
                                                        6:00 PM to
                                                        10:00 PM so that it will not affect student’s college
                                                        curriculum.
                                                        Moreover we expect students to dedicate their 6-8 hours on
                                                        weekly basis.
                                                </div>
                                        </div>
                                </div>
                                <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        <strong>3. What are the prerequisites required?</strong>
                                                </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                        There are no specific prerequisites. Nevertheless, accordance to
                                                        the
                                                        course would beagood starting point.

                                                </div>
                                        </div>
                                </div>

                                <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">
                                                        <strong>4. How do I interact with the mentors if I will get any
                                                                doubts?</strong>
                                                </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse"
                                                aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                        You can clear your doubts during live classes. There is also a
                                                        provision
                                                        of sending in your queries via chat-box preferably at the end of
                                                        the
                                                        session so that it will notdisturbotherinterns.
                                                </div>
                                        </div>
                                </div>
                                <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive">
                                                        <strong> 5.What should I do if I cannot attend a live
                                                                session?</strong>
                                                </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse"
                                                aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                        If you miss any session for any reason, the recorded session
                                                        will be
                                                        provided to you and if you have any queries, you can raise them
                                                        in the
                                                        next live session.
                                                </div>
                                        </div>
                                </div>

                                <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSix">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                        aria-expanded="false" aria-controls="collapseSix">
                                                        <strong>6.What kind of projects I will be working on?</strong>
                                                </button>
                                        </h2>
                                        <div id="collapseSix" class="accordion-collapse collapse"
                                                aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                        6.What kind of projects I will be working on?
                                                </div>
                                        </div>
                                </div>

                        </div>
                </div>
        </main>
        {{>footer}}
</body>

</html>