<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329574/xyz/images/courses/java_cvvtop.jpg"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Java Course</b></h1>
                <p>Learn Java with AvaIntern's Java Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>

                Java is a widely used programming language that was developed by Sun Microsystems (now owned by Oracle)
                in the mid-1990s. It was designed to be platform-independent, secure, and robust, making it suitable for
                a wide range of applications.
            </p>
        </div>
        <br><br>
        <b>
            <hr>
            <hr>
            <hr>
            <div class="course-overview">
                <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
            </div>
            <br>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong>Introduction of Java</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="collapse-overview">

                            <div class="collapse-item">
                                <strong>Install JDK 17 for Windows?</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Install JDK 17 for Mac</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Confirming installation and intro to JShell
                                </strong>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>IntelliJ Basics</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="collapse-overview">

                            <div class="collapse-item">
                                <strong>From JShell to an IDE
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Configuring IntelliJ IDEA - WINDOWS, MAC and LINUX
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Hello World in IntelliJ
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>if-then Statement</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Assignment Operator VS Equals to Operator
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>Expressions,Statement & More</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="collapse-overview">

                            <div class="collapse-item">
                                <strong>Introduction
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Code Blocks And The If Then Else Control Statement
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>if then else Challenge
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Methods in Java</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Method Overloading
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Bonus Challenge Solution
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong>Control Flow </strong>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="collapse-overview">
                            <div class="collapse-item">
                                <strong>Introduction</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>More switch statement</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>A Switch Expression Challenge</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>For Loop Recap
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>While Loop and Do While Recap
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Parsing Values and Reading Input using System.console()

                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Reading Input with Scanner
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <strong>OOPs </strong>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="collapse-overview">

                            <div class="collapse-item">
                                <strong>Inheritence</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Polymorphism</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Encapsulation</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Abstraction</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <strong>Collections</strong>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="collapse-overview">

                            <div class="collapse-item">
                                <strong>List</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>ArrayList</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>LinkedList</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Iterators</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Autoboxing</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{>pricingandcertificate}}
            {{>talk}}
    </main>
    {{>footer}}
</body>

</html>