<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329571/xyz/images/courses/digital_yturcc.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Digital Marketing Course</b></h1>
                <p>Learn Digital Marketing with AvaIntern's Digital Marketing Online Internship Program.</p>
            </div>
        </div>
        {{>form}}

        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>Discover ways to scale your commercial enterprise with the assist of a click on. Recognize the principles
                of digital advertising and decorate your enterprise prospects with revel in in jogging beneficial
                advertising campaigns.
            </p>

        </div>
        <br><br>
        <b>
            <hr>
            <hr>
            <hr>
            <div class="course-overview">
                <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong>Introduction of Marketing</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="collapse-overview">

                            <div class="collapse-item">
                                <strong>Introduction</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Market Research</strong>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Website Building</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="collapse-overview">

                            <div class="collapse-item">
                                <strong>Install wordpress,Theme
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Configuring IntelliJ IDEA - WINDOWS, MAC and LINUX
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Hello World in IntelliJ
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>if-then Statement</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Header & Footer Menu
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>Search Engine Optimizations(SEO)</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="collapse-overview">

                            <div class="collapse-item">
                                <strong>SEO Explained
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>How to Keyword Research
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Create SEO-Friendly Contenn
                                </strong>
                            </div>
                            <div class="collapse-item">
                                <strong>On-Page SEO</strong>
                            </div>
                            <div class="collapse-item">
                                <strong>Backlinks
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong>Email Marketing</strong>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Email marketing is a digital marketing strategy that involves sending targeted emails to a
                            group of subscribers or customers. It aims to build relationships, engage with the audience,
                            and promote products or services. Email marketing campaigns can include newsletters,
                            promotional offers, personalized recommendations, event invitations, or follow-up messages.
                            Effective email marketing involves creating compelling content, segmenting the audience,
                            optimizing email design for different devices, and analyzing metrics like open rates,
                            click-through rates, and conversions to measure success. <br>

                            Content marketing, on the other hand, focuses on creating and distributing valuable,
                            relevant, and consistent content to attract and retain a target audience. It aims to
                            educate, entertain, or inspire the audience, ultimately driving profitable customer action.
                            Content marketing can take various forms, such as blog articles, videos, infographics,
                            ebooks, podcasts, or social media posts. It involves understanding the target audience's
                            needs, creating high-quality content, optimizing it for search engines, and promoting it
                            through different channels. The goal is to establish brand authority, enhance brand
                            awareness, and nurture customer relationships through valuable content. <br>

                            Both email marketing and content marketing are powerful digital marketing strategies that
                            can complement each other. Email marketing utilizes content to engage and convert
                            subscribers, while content marketing provides the valuable and informative content that can
                            be shared through email campaigns. When used together effectively, they can help businesses
                            reach and connect with their target audience, build brand loyalty, and drive conversions.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <strong>Affiliate Marketing</strong>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            Affiliate marketing is a performance-based marketing strategy where affiliates promote
                            products or services on behalf of a company in exchange for a commission. Affiliates earn a
                            commission for every sale, lead, or action generated through their referral. It typically
                            involves three parties: the merchant (company or product owner), the affiliate (individual
                            or business promoting the products), and the customer. Affiliate marketing leverages various
                            online marketing channels, such as websites, blogs, social media, email marketing, or
                            influencers, to drive traffic and conversions. It allows companies to expand their reach,
                            tap into new audiences, and boost sales, while affiliates have the opportunity to earn
                            passive income by promoting products or services they believe in.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <strong> Paid Social & seach Advertising Marketing</strong>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            Paid social advertising refers to the practice of promoting products, services, or content
                            through paid advertisements on social media platforms. It involves creating targeted ad
                            campaigns, selecting specific audience demographics, and utilizing the advertising features
                            offered by platforms like Facebook, Instagram, Twitter, LinkedIn, and others to reach and
                            engage with potential customers.
                            <br>

                            Search advertising, on the other hand, focuses on paid advertisements displayed on search
                            engine results pages (SERPs). These ads appear when users search for specific keywords or
                            phrases, and advertisers bid on those keywords to display their ads prominently. Platforms
                            like Google Ads (formerly known as Google AdWords) allow businesses to create and manage
                            search ad campaigns, set budgets, and target specific locations and demographics. <br>

                            Combining paid social and search advertising strategies can help businesses increase their
                            online visibility, drive targeted traffic to their websites, and achieve specific marketing
                            objectives, such as lead generation, sales, or brand awareness. By leveraging the unique
                            targeting capabilities and ad formats of each channel, businesses can effectively reach
                            their target audience and maximize their advertising ROI.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <strong>Freelancing & Mobile Marketing</strong>
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            Freelancing refers to working independently and offering services to clients on a
                            contractual basis, often remotely. It provides individuals the flexibility to choose their
                            projects, set their own rates, and work from anywhere. Mobile marketing, on the other hand,
                            involves promoting products or services through mobile devices, such as smartphones and
                            tablets, leveraging various strategies like mobile advertising, mobile apps, SMS marketing,
                            and mobile-friendly website optimization. Combining freelancing with mobile marketing can
                            open up opportunities to offer mobile marketing services to clients, create
                            mobile-responsive content, or specialize in mobile-specific marketing strategies to reach
                            and engage mobile users effectively.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <strong> Introduction to Google Analytics & tools</strong>
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Google Analytics is a powerful web analytics tool that provides insights into website
                            traffic, user behavior, and conversion tracking. It offers a wide range of features and
                            tools to measure website performance, track marketing campaigns, analyze audience
                            demographics, and optimize website content for better user experience and business results.
                        </div>
                    </div>
                </div>

            </div>
            </div>
            {{>pricingandcertificate}}
            {{>talk}}
    </main>
    {{>footer}}
</body>

</html>