<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329576/xyz/images/courses/UI-UX_et0z7g.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to UI/UX Course</b></h1>
                <p>Learn UI/UX with AvaIntern's UI/UX Online Internship Program.</p>
            </div>
        </div>
        {{>form}}

        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                A UI-UX design course typically focuses on the principles and practices of user interface (UI) and user
                experience (UX) design, with a focus on designing effective and engaging digital products such as
                websites, mobile apps, and software applications.
                Overall, a UI-UX design course prepares students to create user-centered designs that are both visually
                appealing and easy to use. Graduates of UI-UX design courses are highly sought after by businesses in a
                wide range of industries, including technology, advertising, and media.
            </p>

            <br><br>
            <b>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction to
                            UI-UX Design</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Overview of UI-UX Design</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Principles of Design</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>The Role of UI-UX Designer</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 : User Research and
                            Analysis</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>UX Research Methods</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>The Design Thinking Process</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Understanding User Needs</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : UI Design
                            Fundamentals</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Persona Development</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>User Journey Mapping</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Card Sorting</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 : UI Design Tools and
                            Techniques</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Surveys and Questionnaires</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Visual Design Principles</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Color Theory & Typography</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 :Interaction Design
                            and Animation</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Layout Design</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Designing for Accessibility</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSESSMENT & QUIZ - 1</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Design Software Overview (Sketch, Figma, Adobe

                                XD)</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : UX Design and
                            Testing</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Wireframing and Prototyping</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Creating Interactive Mockups</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Design Handoff to Developers</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 : Design Systems and
                            UI Kits</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Interaction Design Principles</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Creating Micro-interactions</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Animation Techniques</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : Final Project & Professional Development</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Designing for Mobile and Responsive Web</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Usability Testing & Heuristic Evaluation</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSESSMENT & QUIZ - 2
                            </strong>
                        </div>
                        <div class="collapse-item">
                            <strong> A/B Testing
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Final Project Part-2</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Project Assignment</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Designing for Scalability</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Collaborating with Developers</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : Final Project Part-3</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Creating UI Kits and Design Systems</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Component-Based Design</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Atomic Design Principles</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Week-11 : Final Project Part-4</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Building a Portfolio</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Freelance vs Agency vs In-House</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Review</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Week-12 : Final Project Part-5</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Finding UI-UX Design Jobs</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Career Paths in UI-UX Design</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Submission</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>