<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329573/xyz/images/courses/full-stack_fm5quj.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Web Development Course</b></h1>
                <p>Learn Web Development with AvaIntern's Web Development Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>Web development allows you to build attractive, engaging, and robust websites. With AvaIntern’s Smart
                Course, which covers everything from the fundamentals of HTML & CSS to interactive techniques like
                JavaScript and website handling techniques for backend development like PHP and SQL, you may learn about
                the creative and website handling sides of web development. This course teaches you how to create and
                manage websites and applications simultaneously while also teaching you how to deploy website hosting..
            </p>

        </div>

        <br>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction to
                            HTML</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction of HTML and Tools</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Tags, html elements, buttons</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Hyperlinks, images, lists</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 : Mathematics for CSS</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Tables, divisions, form</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to CSS</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Inline Styles , Style Sheets</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : Introduction To
                            JavaScript</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Inheritance, cascade, specificity</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Classes, links, Cascading Styles</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Bootstrap Framework</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 : DOM Event
                            Fundamentals</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Flex and Display Properties</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Variables, Operators, Data Types</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSESSMENT-1</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 : Database and
                            MySQL</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Conditional Statements, Loops</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Functions, Strings, Events</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Arrays, Array methods, Objects</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : Web Development
                            Best Practices</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Date Formats, Arrow Functions</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>DOM tree, DOM methods and Elements</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>QUIZ - 1</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 :Final project</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>DOM forms, dynamic elements</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Event Listeners, inline, outline, addEventListener</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Keyboard events</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : ReactJS,NodeJS</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>JavaScript Frameworks - React.JS</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Server-Side Programming -Node.js</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ASSESSMENT - 2
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Database Types</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Project Assignment</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to Database</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>MySQL Commands (DDL, DML, DCL, TCL)</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : CRUD in Database</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Creating of Table, data types, operators</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Different Types of Joins,Views and Subqueries</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>PROJECT DISCUSSION</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Week-11 : Web Server and Security</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Web Servers & Web Security</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Conditional Statements in JavaScript</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Review</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Week-12 : Performance Enhancement</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Performance & Search Engine Optimization</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Code Quality and Documentation</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Submission</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>