 <div class="course-details">
            <ul>
                <li>Live Conversations With Industry Professionals</li>
                <li>25+ Hours of Learning</li>
                <li>Certificates from reputable MNC's around the world</li>
                <li>Project support and Guidance.</li>
                <li>Access to Specialized Course Materials</li>
            </ul>
        </div>