<footer>
    <div class="component">
        <!-- <u -->
        <div class="c1">
            <h1><b><span style="color: black;"><a href="/"
                            style="color:rgb(250, 246, 246);text-decoration:none;">Ava</span><span
                        style="color:#ffd017;text-decoration:none;">Intern</span>
                    </a></b></h1>
            <div class="data" style="display:flex;flex-direction:column;">
                <div class="p">
                    <p>Need to help for your dream Career?
                        trust us. With Ava Intern, study becomes
                        a lot easier with us.</p>
                </div>
                <hr>
                <hr>
                <hr>
                <br><br>
                <div class="tags">
                    <a href="https://www.linkedin.com/company/ava-intern/" target="_blank"><img
                            src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329582/xyz/images/linked_xzxlvx.png"
                            alt=""></a>
                    <a href="https://instagram.com/ava_intern?igshid=YmMyMTA2M2Y=" target="_blank"><img
                            src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329581/xyz/images/insta_vbipvu.jpg"
                            alt=""></a>
                    <a href="mailto:support@avaintern.com" target="_blank"><img
                            src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329577/xyz/images/email_fv68wg.avif"
                            alt=""></a>
                </div>
            </div>

        </div>
        <div class="c2">
            <h1><b> Pages</b></h1>
            <div class="list">
                <li><a href="/"> Home</a></li>
                <li><a href="/about"> About Us</a></li>
                <li><a href="/career"> Career</a></li>
                <li><a href="/contact"> Contact us</a></li>
                <li><a href="/course"> Our Courses</a></li>

            </div>
        </div>
        {{!-- <div class="c3">
            <h1><b>Support</b></h1>
            <div class="list">
                <li><a href="/faq"> FAQ's</a></li>
                <li><a href="#"> Terms & Conditions</a></li>
                <li><a href="#"> Privacy Policy</a></li>
            </div>
        </div> --}}
        <div class="c4">
            <h1><b>Address</b></h1>
            <p>Banglore,Neraluru SMS complex 1st floor</p>
            <p>Karnataka,562107</p>
        </div>
    </div>
</footer>
{{!--
<script type="text/javascript">
</script> --}}