<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-weight: bold;font-size: 30px;">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329583/xyz/images/logo-2_bamf4q.jpg"
                    alt="Ava Intern">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
                <ul class="navbar-nav">
                    <li class="nav-item mx-3">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-3 ">
                        <div class="dropdown">
                            <button class="dropbtn">Courses &rarr;</button>
                            <div class="dropdown-content">
                                <div class="dropdown-1">
                                    <button class="dropbtn-1">Traineeship &darr;</button>
                                    <div class="dropdown-content-1">
                                        <a href="/course/web"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329573/xyz/images/courses/full-stack_fm5quj.png"
                                                alt="">
                                            Full Stack Web Development</a><br><br>
                                        <a href="/course/java"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329574/xyz/images/courses/java_cvvtop.jpg"
                                                alt="">
                                            Beginner To Advance Java </a><br><br>
                                        <a href="/course/ai"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329568/xyz/images/courses/ai_znsovo.png"
                                                alt="">
                                            Artificial Intelligence</a><br><br>
                                        <a href="/course/cad"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329570/xyz/images/courses/cad_ta6hwj.png"
                                                alt="">
                                            AutoCAD</a><br><br>
                                        <a href="/course/ds"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329571/xyz/images/courses/data-science_sgkq8d.png"
                                                alt="">
                                            Data Science</a><br><br>
                                        <a href="/course/human"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329573/xyz/images/courses/human_dibfdh.webp"
                                                alt="">
                                            Human Resources</a><br><br>
                                        <a href="/course/vlsi"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329576/xyz/images/courses/vlsi_kelw7n.png"
                                                alt="">
                                            VLSI</a><br><br>
                                        <a href="/course/business"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329570/xyz/images/courses/business_aq3q1l.webp"
                                                alt="">
                                            Business analytics</a><br><br>
                                        <a href="/course/finance"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329573/xyz/images/courses/finance_oyggp7.webp"
                                                alt="">
                                            Finance</a><br><br>
                                        <a href="/course/dsa"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329572/xyz/images/courses/dsa-1_v718r9.png"
                                                alt="">
                                            Data Stucture and alogrithm</a><br><br>
                                        <a href="/course/marketing"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329571/xyz/images/courses/digital_yturcc.png"
                                                alt=""> Digital
                                            Marketing & Marketing</a><br><br>
                                        <a href="/course/ui-ux"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329576/xyz/images/courses/UI-UX_et0z7g.png"
                                                alt="">
                                            UI/UX</a><br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/career">Career</a>
                    </li>
                    <li class="nav-item mx-3">
                        <div class="dropdown" style="z-index: 1;">
                            <button class="dropbtn">Placement Cell &rarr;</button>
                            <div class="dropdown-content">
                                <div class="dropdown-1">
                                    <button class="dropbtn-1">Domain &darr;</button>
                                    <div class="dropdown-content-1">
                                        <a href="/course/bde"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329563/xyz/images/bda_sirspm.jpg"
                                                alt="">
                                            BDA & BDE</a><br><br>
                                        <a href="/technical"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329564/xyz/images/bg-courses/technical_rdwom6.jpg"
                                                alt="">
                                            Technical</a><br><br>
                                        <a href="/non_technical"><img
                                                src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694449332/Non-technical-skills-1_vt5esh.jpg"
                                                alt="">
                                            Non-Technical</a><br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>
                    {{!-- <li class="nav-item mx-3">
                        <button type="button" class="btn btn-dark"><a style="text-decoration: none;
                                color: rgb(23, 2, 2);font-weight:bold" href="/signup">Sign
                                Up</a></button>
                    </li> --}}
                </ul>
            </div>
        </div>
    </nav>
</header>