<script>
    const scrollButton = document.getElementById("btn-scroll");
    const formContainer = document.getElementById("form");
    console.log(scrollButton);
    console.log(formContainer);

    scrollButton.addEventListener("click", function () {
        formContainer.scrollIntoView({ behavior: "smooth" });
    });
</script>
<div class="certificates">
    <div class="card">
        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329566/xyz/images/certificate_a93dws.jpg"
            class="card-img-top" alt="Loading...">
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329565/xyz/images/certificate-2_y7lpgi.webp"
            class="card-img-top" alt="Loading...">
    </div>
</div>



<div class="about-course">
    <h1>About the Course</h1>
    <div class="grid-container">
        <div class="grid-item">
            <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1695295937/clock_eqoium.gif" alt="Clock... ">
            <p>30+ hours Training</p>
        </div>
        <div class="grid-item">
            <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1695295938/modules_cfco8h.gif" alt="Module...">
            <p>25+ Modules</p>
        </div>
        <div class="grid-item">
            <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1695295890/assignment_kdeyhc.gif"
                alt="Loading...">
            <p>Assignments</p>
        </div>
        <div class="grid-item">
            <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1695295939/projects_ncudkp.gif"
                alt="Loading...">
            <p>2 Projects</p>
        </div>
        <div class="grid-item">
            <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1695295890/certificate_i0kt3h.gif"
                alt="Loading...">
            <p>Assured Certificate</p>
        </div>
        <div class="grid-item">
            <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1695295937/courses_d70zj4.gif"
                alt="Loading...">
            <p>Specialize Course</p>
        </div>
    </div>
    <h5>Mentorship Program Price <br> <span><a href="#"><button id="btn-scroll"><img class="rs"
                        src="https://res.cloudinary.com/df6f8uemq/image/upload/v1695295938/price_tag_zd5nps.gif" alt=`<i
                        class="
            fa-solid fa-indian-rupee-sign fa-beat-fade" style="color: #f1e904;"></i>
                    11999</h5></button></a></span>
</div>