<div class="talk">
    <div class="talk-body">
        <h1><b>Talk to Our Counsellor</b> </h1><br>
        <p>Get answers to all of your questions and concerns from our support staff, who are always willing
            to help. Don’t hesitate—just pick up your phone and ping us!</p>
        <br>
        <button class="btn btn-primary" style="box-shadow: 10px 5px 5px red;"><span>&rarr; </span><a href="/contact">
                Contact
                us</a></button>
    </div>
    <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329567/xyz/images/counsellor_akxcos.jpg" alt="">

</div>